{
    "email": "someone@example.com",
    "password": "your mom lol",

    "protip": [
        "generate an app password at https://account.live.com/proofs/AppPassword",
        "especially if you have 2FA enabled",
        "which you totally should btw"
    ]
}